# Introduction

This project utilizes the Yelp academic dataset found through https://www.yelp.com/dataset. It aims to use this dataset, which is a subset of the larger yelp dataset, and applies multiple clustering machine learning algorithms. Yelp is known as an industry leading company with millions of restaurant reviews, which provides us with an extensive and informative database for a restaurant recommendation engine.

The original yelp academic dataset is split into 5 different JSON files. For our analysis, we used 1 of the original 5 files, business.json. The Business.json file has 59 different attributes and 188594 entries. However, the data is relatively sparse with many null entries for many of the attributes.

# Data Cleaning

The first step we did was to convert the JSON files to a CSV file to make it easier to process. The yelp dataset has information on businesses other than restaurants. To filter this dataset to retrieve only businesses that are restaurants out we removed any entries within the business.csv file with a null for restaurant takeout. We also removed any permanently closed restaurants and restaurants without a price range to make the final dataset we used to have less null values.

In [1]:
import pandas as pd
import numpy as np

In [11]:
#Determined which businesses were restaturants
businesses = pd.read_csv('yelp_academic_dataset_business.csv')
businesses.dropna(subset=['attributes.RestaurantsTakeOut'], inplace=True)
businesses.dropna(subset=['attributes.RestaurantsPriceRange2'],inplace=True)
businesses.head()

,address,attributes.AcceptsInsurance,attributes.AgesAllowed,attributes.Alcohol,attributes.Ambience,attributes.BYOB,attributes.BYOBCorkage,attributes.BestNights,attributes.BikeParking,attributes.BusinessAcceptsBitcoin,...,hours.Wednesday,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,...,11:0-21:0,1,51.091813,-114.031675,Minhas Micro Brewery,NaN,T2E 6L6,24,4.0,AB
1,NaN,NaN,NaN,none,NaN,NaN,NaN,NaN,False,NaN,...,NaN,0,35.960734,-114.939821,CK'S BBQ & Catering,NaN,89002,3,4.5,NV
2,1335 rue Beaubien E,NaN,NaN,beer_and_wine,"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,...,10:0-22:0,0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
5,"20235 N Cave Creek Rd, Ste 1115",NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,...,5:30-20:0,1,33.671375,-112.030017,The Coffee Bean & Tea Leaf,NaN,85024,63,4.0,AZ
7,"3417 Derry Road E, Unit 103",NaN,NaN,none,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,43.712946,-79.632763,Thai One On,Ridgewood,L4T 1A8,7,2.0,ON

# Data Selection

The goal of this project is to cluster based on latitude and longitude in a given city to find which categories of food is more popular. Therefore the attributes we selected are business_id, name, categories, latitude, longitude, and city from the businesses dataset.

In [16]:
cleaned_businesses = businesses[['business_id','name','categories','latitude','longitude','city']]
cleaned_businesses.head()

,business_id,name,categories,latitude,longitude,city
0,Apn5Q_b6Nz61Tq4XzPdf9A,Minhas Micro Brewery,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",51.091813,-114.031675,Calgary
1,AjEbIBw6ZFfln7ePHha9PA,CK'S BBQ & Catering,"Chicken Wings, Burgers, Caterers, Street Vendo...",35.960734,-114.939821,Henderson
2,O8S5hYJ1SMc8fA4QBtVujA,La Bastringue,"Breakfast & Brunch, Restaurants, French, Sandw...",45.540503,-73.599300,MontrÃ©al
5,45bWSZtniwPRiqlivpS8Og,The Coffee Bean & Tea Leaf,"Coffee & Tea, Food",33.671375,-112.030017,Phoenix
7,6OuOZAok8ikONMS_T3EzXg,Thai One On,"Restaurants, Thai",43.712946,-79.632763,Mississauga

# Clustering

# Visualization